:root {
  --control-margin: 4px;
  --control-height: 20px;
  --control-font-size: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
    --text-color: #222;
    --muted-color: #ccc;
    --meter-color: limegreen;
    --control-background-color: #eee;
    --control-active-background-color: #fff;
    --control-text-color: #333;
    --control-text-color-muted: #666;
    --control-track-color: #ddd;
    --control-knob-color: #777;
    --control-disabled-text-color: #aaa;
    --control-on-background-color: #363636;
    --control-on-text-color: #eee;
    --console-background-color: #f4f4f4;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1a1a1a;
    --text-color: #ddd;
    --muted-color: #444;
    --meter-color: rgb(34, 222, 34);
    --control-background-color: #363636;
    --control-active-background-color: #555;
    --control-text-color: #eee;
    --control-text-color-muted: #bbb;
    --control-track-color: #444;
    --control-knob-color: #888;
    --control-disabled-text-color: #777;
    --control-on-background-color: green;
    --control-on-text-color: var(--control-text-color);
    --console-background-color: #111;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: monospace;
}

html {
  font-size: 12px;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-size: 12px;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;

  > header,
  > main,
  > footer {
    padding: 12px 8px;
  }

  > main {
    overflow: auto;
  }

  > footer {
    padding: 8px;
    margin-top: auto;
    border-top: 1px solid var(--muted-color);
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

fieldset {
  display: flex;
  align-items: center;
  height: calc(var(--control-height) + 4px);
  margin: 0;
  padding: 0;
  border: none;

  > label {
    margin-left: 2px;
  }
}

label {
  font-size: var(--control-font-size);
  color: var(--text-color);
}

button,
select,
.number-box,
input {
  height: var(--control-height);
  margin: var(--control-margin);
  font-size: var(--control-font-size);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background-color: var(--control-background-color);
  color: var(--control-text-color);

  &:disabled {
    cursor: not-allowed;
    color: var(--control-disabled-text-color);
  }
}

.select-wrapper {
  position: relative;
  display: inline-block;

  &::after {
    content: '▼';
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%) scaleX(1.5);
    color: var(--control-text-color);
    pointer-events: none;
    font-size: 8px;
  }

  select {
    appearance: none;
    padding-right: 20px;
    padding-left: 6px;
    outline: none;
    box-shadow: none;
    appearance: none;
  }
}

button {
  padding: 0 8px;

  &:active {
    background-color: var(--control-active-background-color);
  }

  &.on {
    background-color: var(--control-on-background-color);
    color: var(--control-on-text-color);
  }
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  min-width: 64px;
  height: 4px;
  background: var(--control-track-color);
  border-radius: 0px;
  outline: none;

  &:active::-webkit-slider-thumb {
    background-color: var(--control-text-color);
  }

  &:disabled::-webkit-slider-thumb {
    cursor: not-allowed;
  }
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: var(--control-knob-color);
  border-radius: 50%;
  cursor: pointer;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  font-family: Arial, Helvetica, sans-serif !important;
  appearance: none;
  width: calc(var(--control-height) - 4px);
  height: calc(var(--control-height) - 4px);
  background-color: var(--control-background-color);
  border-color: transparent;
  border-radius: 2px;
  cursor: pointer;
}

input[type='checkbox']:checked {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type='checkbox']:checked::before {
  content: '\2715';
  color: var(--control-text-color);
  font-size: 14px;
}

.number-box {
  max-width: 54px;
  padding: 6px;
  user-select: none;
  -webkit-user-select: none;
}

.number-box:focus {
  outline: none;
  box-shadow: none;
  border-color: inherit;
}

#settings {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--muted-color);

  > section {
    display: flex;
    align-items: center;
  }
}

#controls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 6px;
  grid-auto-flow: column;
  grid-template-rows: repeat(16, auto);
}

#controls fieldset {
  display: flex;
}

#controls fieldset > label {
  width: 24px;
  text-align: right;
  padding-right: 4px;
}

#controls input[type='range'] {
  width: 100%;
  min-width: 0;
}

#controls .NumberBox {
  width: 60px;
}
